<html>
    <head>
        <title>Payment Gateway</title>
    </head>
    <body>
        <form action="{{ url_for('requestform', _scheme='https', _external=True) }}" class="paymentWidgets" data-brands="VISA MASTER PAYPAL ALIPAY">
        <!-- <input type='hidden' name='{{ check_id }}'> -->
        </form>
        <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
        <script async src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ check_id }}"></script>
        <script>
        var wpwlOptions = {style:"card",
                            locale: "it",
                            showCVVHint: true,
                            labels: {cardHolder: "Name on Credit Card"},
                            errorMessages: {cardHolderError: "Enter a valid name", cardNumberError: "Enter a valid card number"}
                        };
        </script>
    </body>
</html>