<html>
    <head>
        <link href="css/main.css" type="text/css">
    </head>
    <body>
        <form action="https://docs.oppwa.com/tutorials/integration-guide" class="paymentWidgets" data-brands="VISA MASTER PAYPAL ALIPAY"></form>
        
        
        <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
        <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ check_id }}"></script>
        <script src="js/index.js" type="application/javascript"></script>
        <script>
        var wpwlOptions = {style:"card"}
        var wpwlOptions = {
            locale: "it"
         }
</script>
    </body>
</html>